.toolbar{
    background-color: rgb(60, 60, 201);
    color:white;
}
/* .navLink:hover{
    
    cursor: pointer;
}  */
a{
    display: block;
    width:100%;
    height: 100%;
}
a:hover{
    background-color: rgb(41, 41, 167);
    color: whitesmoke;
}
.active{
    background-color: rgb(41, 41, 167);
}
