<div *ngIf="loadItem" class="d-flex align-items-center justify-content-center spinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <h1 class="mx-2 my-2">Loading...</h1>
</div>
<h1 *ngIf="!islogIn && !loadItem" class="text-center">You have no access to page</h1>
<div class="container-fluid mt-5" *ngIf="islogIn">
    <div class="row justify-content-center g-5">
        <div *ngIf="productNumber">No products available. Please add a  product from <button mat-button (click)="gotodashboard()">Dashboard</button></div>
        <div class="col-10 col-md-5 col-lg-4" *ngFor="let product of cartProducts, index as num">
            <app-product [product]="product" (deleteitem)="deleteEvent($event)"></app-product>
        </div>
    </div>

</div>
