<mat-card class="my-card my-2 mx-5">

    <img mat-card-image src="https://i.ibb.co/ccNWJt1/mb10.jpg" alt="Shiba Inu">
    <mat-card-header> 
        <mat-card-title>{{product.id}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six native Dog breeds: Akita, Kishu, Hokkaido, Kai, Shikoku, and Shiba.
          Shiba is a small, agile dog that copes very well with mountainous terrain, the Shiba Inu is originally
          bred for hunting.
        </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>  
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>