.inc-dec-btn{
    width: fit-content;
    display: inline-block;
}
img{
  height: 200px;
  width: 100%;
}
.image{
    width:100%;
    object-fit: fill;
}
input{
    width:30px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}